/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 /**
 * Tabs
 */
.rcpfb-tab {
  display: none;
}
.rcpfb-tab.is-active {
  display: block;
}
.rcpfb-tabs .nav-tab.is-active{
  background: #fff
}
.rcpfb-tab__content {
}
/**
 * Tabs no-js fallback
 */
.rcpfb-tabs.no-js .rcpfb-tabs-nav {
  display: none;
}
.rcpfb-tabs.no-js .rcpfb-tab {
  display: block;
  margin-bottom: 1.5rem;
}
.rcpfb-tabs.no-js .rcpfb-tab:last-child {
  margin-bottom: 0;
}


.frmb-control .icon-autocomplete,.frmb-control .icon-button,.frmb-control .icon-file,.frmb-control .icon-number{
  display: none
}

.cb-wrap{
  background: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
}
.stage-wrap{
  padding-top: 30px;  
  padding-right: 2%;
}

#rcpfb-form-fields .stage-wrap li{
  border: 1px dashed #c4d0dc;
  padding: 2px 6px;
}
#rcpfb-form-fields .stage-wrap .paragraph-field p{
	font-style: normal;
}
#rcpfb-form-fields .cb-wrap li{
  width: 84%;
  /*display: inline-block;*/
  margin-right: 8%;
  margin-left: 8%;
  padding: 12px 10px;
  box-shadow: inset 0 0 0 1px rgba(197, 197, 197, 0.44);
  /*margin-bottom: 3.5% !important;*/
}
#rcpfb-form-fields .cb-wrap >.form-actions{
  display: none
}

#rcpfb-form .number-field .prev-holder,
#rcpfb-form .checkbox-group-field .prev-holder,
#rcpfb-form .radio-group-field .prev-holder,
#rcpfb-form .select-field .prev-holder,
#rcpfb-form .date-field .prev-holder,
#rcpfb-form .text-field .prev-holder,
#rcpfb-form .paragraph-field .prev-holder,
#rcpfb-form .textarea-field .prev-holder{
/*#rcpfb-form div.fb-select[class$="-preview"] .radio-group{*/
  display: none !important
}
#rcpfb-form .number-field{
  padding: 0px 6px
}
#rcpfb-form .number-field label{
  text-transform: uppercase;
  font-size: 13px !important;
  letter-spacing: 1px;
}
#rcpfb-form .number-field .field-actions{
  display: none !important;
}
#rcpfb-form .number-field{
  pointer-events: none !important;
  /*background: hsla(0,0%,100%,.6) !important*/
  background: rgba(35, 40, 45, 0.04) !important
}
#rcpfb-form li.hidden-field{
	display: block;
  background: #fff
}
.form-wrap.form-builder .frmb .sortable-options .option-selected{
  width: unset !important
}



/*Miscellaneous*/

.rcpfb-button, .rcpfb-button:hover, .rcpfb-button:visited,
.button.rcpfb-button, .button.rcpfb-button:hover, .button.rcpfb-button:visited {
	background: white;
	border-color: #c8d7e1;
	border-style: solid;
	border-width: 1px 1px 2px;
	color: #2e4453;
	cursor: pointer;
	display: inline-block;
	height: unset;
	margin: 0;
	outline: 0;
	overflow: hidden;
	font-size: 14px;
	font-weight: 500;
	text-overflow: ellipsis;
	text-decoration: none;
	vertical-align: top;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 21px;
	border-radius: 4px;
	padding: 7px 14px 9px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.rcpfb-button.button-primary, .rcpfb-button.button-primary:hover, .rcpfb-button.button-primary:visited {
	background: #00aadc;
	border-color: #0087be;
	color: white;
}
.rcpfb-button:active {
	border-width: 2px 1px 1px;
}
.rcpfb-button:hover {
	border-color: #a8bece;
}
.rcpfb-button.button-primary:hover, .rcpfb-button.button-primary:focus {
    border-color: #005082;
}

.rcpfb-button.button-primary:hover {
	border-color: #005082;
}
#rcpfb-form .postbox{
  width: 70%;
}
.form-wrap.form-builder .frmb .form-elements .available-roles label{
  margin-right: 10px;
  display: inline-block !important;
  vertical-align: bottom;
  font-weight: normal !important
}
.form-wrap.form-builder .frmb .form-elements .available-roles label input{
  display: inline-block !important;
}
.form-wrap.form-builder .frmb .form-elements .available-roles label:first-child{
  font-weight: normal !important  
}

/* Changing the input styles */

/* .form-wrap.form-builder .frmb .form-elements */

.form-wrap.form-builder .frmb .form-elements .form-group{
  width: 70% !important;
  /* float: none !important; */
  margin: 0 auto 15px;
}
.form-wrap.form-builder .frmb .form-elements label:first-child{
  text-align: left !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  color: #23282d !important;
}
.form-wrap.form-builder .frmb .form-elements > div > label, 
.form-wrap.form-builder .frmb .form-elements > div > .input-wrap{
  float: none !important;
  margin: 0 !important;
  width: auto !important;
}
.form-wrap.form-builder .frmb .form-elements .input-wrap{
  padding-right: 5%;
}

.form-wrap.form-builder .frmb .form-elements .required-wrap > label,
.form-wrap.form-builder .frmb .form-elements .invoice-wrap > label,
.form-wrap.form-builder .frmb .form-elements .memberslistcsv-wrap > label,
.form-wrap.form-builder .frmb .form-elements .hidefromloggedin-wrap > label
{
  float: left !important;
  /* width: auto !important; */
  margin-right: 10px !important;
}

.form-wrap.form-builder .frmb .form-elements input[type=color], .form-wrap.form-builder .frmb .form-elements input[type=date], .form-wrap.form-builder .frmb .form-elements input[type=number], .form-wrap.form-builder .frmb .form-elements input[type=text], .form-wrap.form-builder .frmb .form-elements select, .form-wrap.form-builder .frmb .form-elements textarea, .form-wrap.form-builder .frmb .form-elements div.form-control{
  border: 1px solid #ddd !important;
  border-radius: 0 !important;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
  -webkit-transition: 50ms border-color ease-in-out;
  transition: 50ms border-color ease-in-out;
  background: #fff;
}
.form-field.editing .field-label{
  /* font-weight: bold;
  color: #005082;
  text-transform: uppercase;
  letter-spacing: 1px; */
  display: inline-block !important;
  margin-bottom: 20px;
}
.form-field .field-label{
  display: inline-block !important;
}
.form-field.editing{
  background: #f2f6f9 !important;
}
